<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDos</title>

    <ul>
        <% todos.forEach( el => { %>
        <li class="todoItem" data-id="<%=el._id%>">
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <span class="del">Delete</span>
        </li>
        
        })
    </ul>
</head>
<body>
    
</body>
</html>